<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<add key="dbServerType" value="MSSQL2016"/>
		<add key="Server" value="SAPSERVER"/>
		<add key="dbuser" value="sa"/>
		<add key="dbpass" value="123456"/>
		<add key="LicenseServer" value="SAPSERVER"/>
		<add key="CompanyDB" value="BWYH"/>
		<add key="UserName" value="manager"/>
		<add key="Password" value="8899"/>
		<add key="DataSourceUserID" value=""/>
		<add key="DataSourcePassword" value=""/>
		<add key="AutoLogin" value="Y"/>
		<add key="AutoPostAfterLogin" value="Y"/>
		<add key="B1AttachmentPath" value="D:\\Desktop\BWY\\BWY Original\\BWY_Portal_Latest\\Attachments\"/>
		<add key="POPost" value="N"/>
		<add key="GRNPost" value="N"/>
		<add key="GIPost" value="N"/>
		<add key="BAPost" value="Y"/>
		<add key="BATrigger" value="Y"/>
	</appSettings>
	<connectionStrings>
		<add name="DataSourceConnectionString" connectionString="Data Source=SAPSERVER;Initial Catalog=WingHinPortal;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
